{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
<section class="text-center ">
    <h1 class="mb-5">MovieLib</h1>
        <p class="h3">
            Des films, oui, mais des bons films.
        </p>
</section>
{% endblock %}
