<footer>
    <ul>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Conditions générales d'utilisation</a></li>
    </ul>
	<div>&copy; MovieLib {{ date()|date("Y") }} - Tous droits réservés</div>
</footer>
