<header>
	<a href="{{ path('main_index') }}" ><img src="{{ asset('images/bobine.png') }}" alt="Logo de LudoTek - Bobine de film" /> MovieLib</a>
    <nav>
        <ul>
            <li><a href="">Liste des films</a></li>
            <li><a href="">Ajouter une personne</a></li>
            <li><a href="">Ajouter un film</a></li>
            <li><a href="">Statistiques</a></li>
        </ul>
    </nav>
</header>
